<form [formGroup]="cadastroForm" autocomplete="off">
    <div>
        <label for="name">Nome:</label>
        <input type="text" id="name" placeholder="insira o nome" formControlName="name">
    </div>
    <br>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="youremail@email.com" formControlName="email">
    </div>
    <div>
        <label for="age">Idade</label>
        <input type="number" id="age" formControlName="age">
    </div>
    <div>
        <p>Sexo</p>

        <input type="radio" value="M" id="M" formControlName="gender">
        <label for="M">Masculino</label>
        <input type="radio" value="F" id="F" formControlName="gender">
        <label for="F">Feminino</label>
    </div>
    <div>
        <input type="checkbox" id="news" formControlName="news">
        <label for="news">desejo receber as novidades</label>
    </div>

    <br><br><br>
    <p>{{cadastroForm.value | json}}</p>
</form>